.Menu2 > button {
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    bottom: 20px;
    color: black;
    text-align: left;
    font-size: 22px;
    color: white;
    transform: scale(1.05);
}
.Menu2 :hover {
    transform: scale(1.05);
    color: grey;
}